.navbar-brand {
  font-size: 2em;
  text-transform: none; }

.nav-tabs a.tab-new {
  color: #70cd57; }
  .nav-tabs a.tab-new:hover {
    color: #5eb347; }

#logo {
  float: left;
  margin: 3px 8px 0 0;
  opacity: 0.8; }
  #logo:hover {
    opacity: 1; }

.admin-link {
  font-size: 2em;
  margin-right: 5px; }
  .admin-link:hover {
    color: #333333; }

.tabs-content {
  padding-top: 20px; }

.filters {
  display: table;
  margin: 10px auto 0;
  overflow: hidden; }
  .filters .btn-group {
    float: left;
    margin-right: 20px; }
    .filters .btn-group .btn {
      border: 1px solid #d0d0d0; }
      .filters .btn-group .btn.active {
        background-color: whitesmoke; }
  .filters .parent-filter {
    float: left;
    font-size: 14px;
    margin-top: 3px; }
    .filters .parent-filter select {
      display: inline-block;
      font-size: 15px;
      height: 28px;
      margin-top: 2px;
      padding: 2px 6px;
      width: auto; }
      .filters .parent-filter select option {
        font: 14px "Courier New", Courier, monospace; }

form #page_parent_id {
  font-family: "Courier New", "Courier", monospace; }

.pagination {
  display: block;
  position: relative;
  text-align: center; }
  .pagination span {
    border: 1px solid #dedede;
    display: inline-block; }
    .pagination span:hover {
      background-color: #efefef; }
    .pagination span.current {
      padding: 4px 8px;
      background-color: transparent; }
    .pagination span a {
      display: block;
      padding: 4px 8px; }

.caret.caret-sort {
  border-top-color: #609ed3; }

.caret-reversed {
  border-top: 0 none;
  border-bottom: 4px solid #609ed3; }

#loading {
  display: none;
  margin: auto;
  height: 66px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  text-align: center; }
