- error = @project.errors.include?(:slug)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :slug, :class => 'control-label'
  .controls
    =f.text_field :slug, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:slug, :class => 'text-error') : pat(:example)

- error = @project.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : pat(:example)

- error = @project.errors.include?(:description)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :description, :class => 'control-label'
  .controls
    ~f.text_area :description, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:description, :class => 'text-error') : pat(:example)

- error = @project.errors.include?(:"images.file")
- n = 0 # Uploaded images counter
= f.fields_for :images do |image_f|
  %fieldset.control-group{:class => error ? 'has-error' : ''}
    =image_f.label :file, :class => 'control-label'
    .controls
      =image_f.file_field :file, :class => 'input-xlarge input-with-feedback'
      %span.help-inline=error ? image_f.error_message_on(:file, :class => 'text-error') : pat(:upload_file)
      - if @project.images[n].file_url
        .image-url
          %span= @project.images[n].file_url
        =image_tag(@project.images[n].file_url(:thumb))

    - if @project.images[n].file_url
      .controls.delete-file
        =image_f.label :remove_file, :class => 'control-label' do
          =image_f.check_box :_destroy
      - n += 1

%button#add-upload.btn.btn-warning= pat('add_upload')

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:projects, :index), :class => 'btn btn-default'