$caret-color: #609ed3

.navbar-brand
  font-size: 2em
  text-transform: none

.nav-tabs a.tab-new
  color: #70cd57
  &:hover
    color: #5eb347


#logo
  float: left
  margin: 3px 8px 0 0
  opacity: 0.8
  &:hover
    opacity: 1

.admin-link
  font-size: 2em
  margin-right: 5px
  &:hover
    color: #333

.pagination
  display: block
  position: relative
  text-align: center
  span
    border: 1px solid #dedede
    display: inline-block
    &:hover
      background-color: #efefef
    &.current
      padding: 4px 8px
      &:hover
      background-color: transparent
    a
      display: block
      padding: 4px 8px

.caret.caret-sort
  border-top-color: $caret-color
.caret-reversed
  border-top: 0 none
  border-bottom: 4px solid $caret-color

#loading
  display: none
  margin: auto
  height: 66px
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: auto
  text-align: center