.contact-details{itemscope: true, itemtype: "http://schema.org/HomeAndConstructionBusiness"}
  %address.full-contacts
    %h1{itemprop: "name"} ООО «#{company_name}»

    .row
      .col-xs-6
        %h2 Телефон
        %p{itemprop: "telephone"}= contact_tel

      .col-xs-6
        %h2 Email
        %p{itemprop: "email"}
          = mail_to contact_email

    / %h3 Skype
    / %p= link_to 'lenstroyin', 'skype:lenstroyin?call'

    .row
      .col-sm-6
        %h2 Адрес
        %p{itemscope: true, itemprop: "address", itemtype: "http://schema.org/PostalAddress"}
          %span.nowrap{itemprop: "postalCode"}> 190000
          ,&ensp;
          %span.nowrap{itemprop: "addressCountry"}> Россия
          ,&ensp;
          %span.nowrap{itemprop: "addressLocality"}> Санкт-Петербург
          ,
          %br
          %span{itemprop: "streetAddress"}>
            наб. Адмиралтейского канала д.27,&nbsp;оф.&nbsp;5

      .col-sm-6
        %h2 Часы работы
        %time{ itemprop: "openingHours", datetime: "09:00−20:00"} 09:00 — 20:00

    .row
      #map.col-sm-12

%script{src: "//api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"}
= partial 'common/ymaps'

:javascript
  ymaps.ready(initYMap);