.navbar.navbar-fixed-top
  .navbar-inner
    .container
      =link_to image_tag("logo-admin.png"), '/', id: 'logo', title: "На главную"
      =link_to 'Админка', url(:base, :index), :class => 'navbar-brand', :title => 'Панель управления'
      %ul.nav.navbar-nav.pull-right
        %li.navbar-edit-account=link_to tag_icon(:user), url(:accounts, :edit, :id => current_account.id), :title => pat(:profile), :class => 'navbar-nav-link'
        %li.navbar-logout
          =button_to :logout, url(:sessions, :destroy), :method => :delete, :class => 'navbar-nav-form' do
            =content_tag :button, tag_icon(:off), :type => :submit, :title => pat(:logout), :class => 'navbar-nav-form-link'

      %ul.nav.navbar-nav.pull-left
        - project_modules.each do |project_module|
          %li{:class => "navbar-module #{('active' if request.path_info =~ /^#{project_module.path}/)}"}
            =link_to pat(project_module.human_name), url(project_module.path)