= form_tag url_for(:contacts, :message), builder: 'NegBuilder' do
  - if @message && @message.errors.any?
    #error_explanation
      %h2= "Вы допустили ошибки при заполнении формы"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  /=h negative_captcha(@captcha)
  .field
    /= negative_label_tag(@captcha, :name, 'Имя')
    /= negative_text_field_tag(@captcha, :name)
  .field
    /= negative_label_tag(@captcha, :email, 'Email')
    /= negative_text_field_tag(@captcha, :email, :size => "28")
  .field
    /= negative_label_tag(@captcha, :content, 'Сообщение')
    /= negative_text_area_tag(@captcha, :content, :size => "28x6")

  .actions
    = submit_tag 'Отправить'