%h3
  = tag_icon 'picture'
  Последние работы

.work
  %h4 Ремонт квартир и офисов
  = latest_image 'latest-repair1', "Ремонт квартиры в Петербурге"
.work
  %h4 Загородные дома
  = latest_image 'latest-house1', "Строительство дома из бруса в Ленинградской области"