<script type="text/javascript">
  function initYMap() {
    var contactMap = new ymaps.Map("map", {
      center:    [59.929925, 30.286943],
      zoom:      14,
      behaviors: ["default", "scrollZoom"]
    });

    var trafficControl = new ymaps.control.TrafficControl();
    contactMap.controls
      .add('zoomControl', { left: 5, top: 5 })
      .add('typeSelector')                    // Список типов карты
      .add('mapTools', { left: 35, top: 5 })  // Стандартный набор кнопок
      .add(trafficControl);                   // Пробки

    var ballonContent = "<span style='font-size:150%'>ЛенСтройИнициатива</span>";
    contactMap.balloon.open([59.929925, 30.286942], ballonContent, {
      closeButton: false // Не показываем кнопку закрытия
    });
  }
</script>