.container-fluid
  .row
    .copyright.col-xs-7.col-sm-5
      Все права защищены &copy;
      =Time.now.year
      %br/
      %strong ООО «#{company_name}»
      %br/
      190000, Россия, Санкт-Петербург,
      %br/
      наб. Адмиралтейского канала д.&nbsp;27,&nbsp;оф.&nbsp;5


    .col-xs-5.col-sm-3
      %h3 Контакты
      = mail_to contact_email
      %br/
      Тел.: #{contact_tel}
      %br/
      Факс: #{contact_tel}

    .author.col-xs-6.col-sm-4
      Создание сайта —
      =link_to 'Рябит', 'http://riabit.ru'