.well
  %button.btn.btn-primary.btn-block{'data-target' => ".navbar-collapse", 'data-toggle' => "collapse", :type => "button"}
    %span.glyphicon.glyphicon-download-alt
    Скачать прайс лист

-if @page && @page.contact_page?
  .contact-form
    %h2 Свяжитесь с нами сейчас
    = partial 'common/contact_form'

  .sidebar-nav.sidebar-nav-fixed
    = render_navigation(renderer: :bootstrap, only: 'houses', expand_all: true)

  %ul.nav.nav-list
    %li.nav-header Это сайдбар
    %li.active
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link

-else
  .sidebar-nav.sidebar-nav-fixed

  %ul.nav.nav-list
    %li.nav-header Это сайдбар
    %li.active
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link

  .contact-form
    %h2 Свяжитесь с нами сейчас
    = partial 'common/contact_form'
