.well.sidebar-nav.sidebar-nav-fixed
  %ul.nav.nav-list
    %li.nav-header Это сайдбар
    %li.active
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li.nav-header Ссылочки
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li.nav-header Ссылочки
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link
    %li
      %a{:href => "#"} Link